body {
  background-color: #FCF8E8;
}

hr {
  color: gray;
  width: 10%;
  border: 5px;
  border-style: dotted none none;
  /*border-bottom-style: none;*/
  /*or all:none  &  top:dotted*/
}

h1 {
  color: #d19773;
}

h3 {
  color: #7d9987;
}
